<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009655399646-25ac3d8am9v5hg2bidcee2jd892kcsi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009655399646-25ac3d8am9v5hg2bidcee2jd892kcsi8</string>
	<key>API_KEY</key>
	<string>AIzaSyCFLaMzkj4WRs-8AiKeVtCyygwzrVfRe6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1009655399646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Appjam.appJam</string>
	<key>PROJECT_ID</key>
	<string>appjam-e8dce</string>
	<key>STORAGE_BUCKET</key>
	<string>appjam-e8dce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009655399646:ios:e26185ce5fe3ea3feeee4f</string>
</dict>
</plist>